<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>Student:</strong>
  <%= @note.comment.homework.class_group.student.full_name %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @note.comment.homework.title %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @note.is_archive %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
