<%= form_with(model: @comment, url: (@comment.new_record? ? [@homework, @comment]: [@homework, @comment])) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.collection_select(:student_id, @homework.class_group.students, :id, :full_name, prompt: true ) %></p>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="field">
    <%= form.label :www, "What went well" %>
    <%= form.text_area :www %>
  </div>

  <div class="field">
    <%= form.label :area_for_development %>
    <%= form.text_area :area_for_development %>
  </div>

  <div class="field">
    <%= form.label :dirt, "DIRT" %>
    <%= form.text_area :dirt %>
  </div>

  <div class="field">
    <%= form.label :spelling %>
    <%= form.text_area :spelling %>
  </div>

<%= form.fields_for :presentations do |pres_form| %>
  <%= pres_form.collection_check_boxes(:presentation_item_id, PresentationItem.all, :id, :full_item) do |cb| %>
     <%= cb.check_box %>
     <%= cb.label %>
  <% end %>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
