<p id="notice"><%= notice %></p>

<h1>Feedback for <%= @homework.title %></h1>
<h2> Form: <%= @homework.class_group.name %> | Date:  <%= @homework.date.strftime("%d %b %y") %> </h2>
<p>Number students: <%= @homework.class_group.students.size  =%></p>
<p>Maximum score: <%= @homework.score  =%></p>
<table id="myTable" class="tablesorter">
  <thead>
    <tr>
      <th>Student</th>
      <th>Score</th>
      <th>www</th>
      <th>Area for development</th>
      <th>Dirt</th>
      <th>Spelling</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr class="<%= comment.calculate_class(comment.homework.score) %>">
        <td><%= link_to comment.student.full_name, comment.student %></td>
        <td><%= comment.result %>
          <% if comment.merit %>
            <%= image_tag("flags-icon-png-10291.png", size: "24") %>
            <% end %>
        </td>
        <td><%= comment.www %></td>
        <td><%= comment.area_for_development %></td>
        <td><%= comment.dirt %></td>
        <td><%= comment.spelling %></td>
        <td><%= link_to 'Edit', edit_homework_comment_url(@homework, comment) %></td>
        <td><%= link_to 'Destroy', homework_comment_url(@homework, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_homework_comment_path, :id => "new_comment", remote: true %> |
<%= link_to "Printable Form (PDF)", homework_comments_path(@homework, format: 'pdf') %>

<div id="form_holder">
</div>
