<p id="notice"><%= notice %></p>

<h1>Feedback for <%= @homework.title %></h1>
<h2> Form: <%= @homework.class_group.name %> | Date:  <%= @homework.date.strftime("%d %b %y") %> </h2>
<p>Number students: <%= @homework.class_group.students.size  =%></p>
<p>Maximum score: <%= @homework.score  =%></p>
<% bad_uns = @homework.get_attribute("not_submitted") %>
<p>Not submitted: <%= bad_uns.count %></p>
<% bad_uns.each do |b_u| %>
  <ul>
  <li><%= b_u.student.full_name %></li>
  </ul>
<% end %>


<div id="task-form" style="display:none; border: 1px black solid; padding: 5px;"></div>
<div id = "dialog"  title = "Dialog Title goes here...">
  <span id="text"></span>
</div>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Student</th>
      <th>Score</th>
      <th>www</th>
      <th>Area for development</th>
      <th>Dirt</th>
      <th>Spelling</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <%= render 'row', comment: comment %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_homework_comment_path, :id => "new_comment", remote: true %> |
<%= link_to "Printable Form (PDF)", homework_comments_path(@homework, format: 'pdf') %>

<div id="form_holder">
</div>
