<p id="notice"><%= notice %></p>

<h1>Feedback for <%= @homework.title %></h1>
<h2> Form: <%= @homework.class_group.name %> | Date:  <%= @homework.date.strftime("%d %b %y") %> </h2>
<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Grade</th>
      <th>Www</th>
      <th>Area for development</th>
      <th>Dirt</th>
      <th>Spelling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.student.full_name %></td>
        <td><%= comment.grade %></td>
        <td><%= comment.www %></td>
        <td><%= comment.area_for_development %></td>
        <td><%= comment.dirt %></td>
        <td><%= comment.spelling %></td>
        <td><%= link_to 'Show', homework_comment_url(@homework, comment) %></td>
        <td><%= link_to 'Edit', edit_homework_comment_url(@homework, comment) %></td>
        <td><%= link_to 'Destroy', homework_comment_url(@homework, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_homework_comment_path %> |
<%= link_to "Printable Form (PDF)", homework_comments_path(@homework, format: 'pdf') %>
