<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @comment.student.full_name %>
</p>



<p>
  <strong>Grade:</strong>
  <%= @comment.grade %>
</p>

<p>
  <strong>www:</strong>
  <%= @comment.www %>
</p>

<p>
  <strong>Area for development:</strong>
  <%= @comment.area_for_development %>
</p>

<p>
  <strong>Dirt:</strong>
  <%= @comment.dirt %>
</p>

<p>
  <strong>Spelling:</strong>
  <%= @comment.spelling %>
</p>

<h2> Presentation</h2>
<% @comment.presentations.each do |p| %>
  <p><%= p.presentation_item.heading %>  <%= p.presentation_item.category %> </p>

<% end %>


<%= link_to 'Edit', edit_homework_comment_url(@homework, @comment) %> |
<%= link_to 'Back', homework_comments_path %>
