<p id="notice"><%= notice %></p>

<h1> <%= @student.full_name %> </h1>


<p>
  <strong>Class:</strong>
  <%= @student.class_group.name %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<h2>Notes</h2>
<p><button>Show/hide archive</button></p>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Homework</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% @comments.each do |comment| %>
          <% unless comment.note.nil? %>
            <tr class = "<% if comment.note.is_archive ==true %> not_current<% end %>" >
                <td> <%= comment.note.created_at.strftime("%d %b %y") %> </td>
                <td> <%= comment.homework.title %></td>
                <td> <%= comment.note.text %> </td>
            </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>



<h2>Homeworks</h2>
<p><button>Show/hide archive</button></p>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Feedback</th>
      <th>DIRT</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr class="<%= comment.addclass %><% if comment.homework.is_archive ==TRUE %> not_current<% end %>">
        <td> <%= comment.homework.date.strftime("%d %b %y") %> </td>
        <td> <%= comment.homework.title %> </td>
        <td> <%= comment.www %> </td>
        <td> <%= comment.area_for_development %> </td>
        <td> <%= comment.dirt %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><button>Show/hide archive</button></p>

<%= link_to "Printable Form (PDF)", student_path(format: 'pdf') %>
