<div id="class_group_page<%if @class_group.is_archive%>_archive<% end%>">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @class_group.name %>
</p>

<p>
  <strong>Academic year:</strong>
  <%= @class_group.academic_year %>
</p>

<p>
  <strong>Year:</strong>
  <%= @class_group.year %>
</p>

<p>
  <strong>Status:</strong>
  <% if @class_group.is_archive == true  %>
    <span style ="color:red">ARCHIVED</span>
  <% else %>
    <span style ="color:green">CURRENT</span>
  <% end %>
</p>


<p>
  <strong>Number in class:</strong>
  <%= @students.count %>
</p>

<%= link_to 'Edit', edit_class_group_path(@class_group) %> |
<%= link_to 'Back', class_groups_path %>


<h3>Students</h3>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <% @homeworks.each do |homework| %>
        <th><p><%= homework.title[0..3]%></p><p><%= homework.score %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
 <% #really what I want is to loop through all the homeworks, build an array that has the homework title, the homework id and all the scores in it with the scores listed against the student id. that way I can just pull out the title above, and as I loop through the students use the student id to pull out the relevant score for that homework %>
<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <% @homeworks.each do |homework| %>
      <% results = @class_group.get_scores(homework) %>
      <% result = results[student.id] %>
        <td class="<%= @class_group.set_colour(homework, result) %>"> <%= result %> </td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>
</div>
