<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @class_group.name %>
</p>

<p>
  <strong>Academic year:</strong>
  <%= @class_group.academic_year %>
</p>

<p>
  <strong>Year:</strong>
  <%= @class_group.year %>
</p>

<p>
  <strong>Status:</strong>
  <% if @class_group.is_archive == true  %>
    ARCHIVED
  <% else %>
    CURRENT
  <% end %>
</p>


<p>
  <strong>Number in class:</strong>
  <%= @class_group.number_in_class %>
</p>

<%= link_to 'Edit', edit_class_group_path(@class_group) %> |
<%= link_to 'Back', class_groups_path %>


<h3>Students</h3>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>

<% @students.each do |student| %>
  <tr>
    <td>&nbsp;</td>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
  </tr>
<% end %>
  </tbody>
</table>
