<div id="class_group_page<%if @class_group.is_archive%>_archive<% end%>">

<p id="notice"><%= notice %></p>


  <h1><%= @class_group.name %></h1>


<p>
  <strong>Academic year:</strong>
  <%= @class_group.academic_year %>
</p>

<p>
  <strong>Year:</strong>
  <%= @class_group.year %>
</p>

<p>
  <strong>Status:</strong>
  <% if @class_group.is_archive == true  %>
    <span style ="color:red">ARCHIVED</span>
  <% else %>
    <span style ="color:green">CURRENT</span>
  <% end %>
</p>


<p>
  <strong>Number in class:</strong>
  <%= @students.count %>
</p>

<%= link_to 'Edit', edit_class_group_path(@class_group) %> |
<%= link_to 'Back', class_groups_path %>



<!-- HTML -->
<div id = "dialog"  title = "Dialog Title goes here...">
  <p><span style="font-weight: bold;">General comments: </span><span id="www"></span></p>
  <p><span style="font-weight: bold;">Homework comments: </span><span id="afd"></span></p>
</div>



<h3>Students</h3>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>First name</th>
      <th>Last name</th>
      <th>&nbsp;</th>
      <% @homeworks.each do |homework| %>
        <th><p><%= link_to homework.title[0..4], homework_comments_path(homework)%><br /><%= homework.score %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>

  <% @students.each do |student| %>
    <tr>
      <td id="f_<%= student.id %>">
        <% if student.flag %>
          <%= image_tag("flags-icon-png-10292.png", size: "16", title: 'Flagged' , alt: "flagged", id: 'i_' + student.id.to_s, class: "show") %>
        <% else %>
          <%= image_tag("flags-icon-png-10292.png", size: "16", title: 'Flagged' , alt: "flagged", id: 'i_' + student.id.to_s, class: "hidden") %>
        <% end %>
      </td>
      <td><%= link_to student.first_name, student_url(student) %></td>
      <td><%= link_to student.last_name, student_url(student) %></td>
      <td><% if student.is_pp %>
            <%= image_tag("blue_flag.png", size: "16",  title: 'PP', alt: "PP") %>
          <% end %>
          <% if student.is_sen %>
            <%= image_tag("orange_flag.png", size: "16", title: 'SEN', alt: "SEN") %>
          <% end %>
      </td>
      <% @homeworks.each do |homework| %>
        <% results = @class_group.get_scores(homework) %>
        <% if results[student.id][:result].present? %>
          <% result = results[student.id][:result] %>
          <% id = results[student.id][:id] %>
            <td class="centre <%= @class_group.set_colour(homework, result) %>" >
              <% if result == -1 %>
                  &mdash;
                <% else %>
                  <span id="s_<%= id %>_<%= homework.id %>"> <%= result %></span>
              <% end %>
              <% if results[student.id][:is_merit] %>
                <%= image_tag("flags-icon-png-10291.png", size: "12") %>
              <% end %>
              <% if results[student.id][:resubmit] %>
                <%= image_tag("flags-icon-png-10292.png", size: "12") %>
              <% end %>
              <% if results[student.id][:not_submitted] %>
                <%= image_tag("warning-16", size: "12") %>
              <% end %>
        <% else %>
          <td class="centre"> &mdash; </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>

  </tbody>
</table>
</div>
