<p id="notice"><%= notice %></p>

<h1>Homeworks</h1>

<table>
  <thead>
    <tr>
      <th>Class group</th>
      <th>Date</th>
      <th>Title</th>
      <th>W/S</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeworks.each do |homework| %>
    <% unless homework.class_group.is_archive == true %>
      <tr class="c<%= homework.class_group.name %>">
        <td><%= homework.class_group.name %></td>
        <td><%= homework.date.strftime("%d %b %y")%></td>
        <td><%= homework.title %></td>
        <td><%= homework.is_worksheet %></td>
        <td><%= link_to 'Comments',  homework_comments_path(homework) %></td>
        <td><%= link_to 'Show', homework %></td>
        <td><%= link_to 'Edit', edit_homework_path(homework) %></td>
        <td><%= link_to 'Destroy', homework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework', new_homework_path %>
