<p id="notice"><%= notice %></p>

<p>
  <strong>Class group:</strong>
  <%= @homework.class_group.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @homework.date.strftime("%d %b %y") %>
</p>

<p>
  <strong>Title:</strong>
  <%= @homework.title %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>


<h3>Students</h3>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>

<% @students.each do |student| %>
  <tr>
    <td>&nbsp;</td>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
  </tr>
<% end %>
  </tbody>
</table>
