<p id="notice"><%= notice %></p>

<p>
  <strong>Class group:</strong>
  <%= @homework.class_group.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @homework.date.strftime("%d %b %y") %>
</p>

<p>
  <strong>Title:</strong>
  <%= @homework.title %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>


<h3>Students</h3>


<%= render 'comments/form', comment: @comment %>
