<p id="notice"><%= notice %></p>

<h1>Presentation Items</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presentation_items.each do |presentation_item| %>
      <tr>
        <td><%= presentation_item.category %></td>
        <td><%= link_to 'Show', presentation_item %></td>
        <td><%= link_to 'Edit', edit_presentation_item_path(presentation_item) %></td>
        <td><%= link_to 'Destroy', presentation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presentation Item', new_presentation_item_path %>
